@{
    ViewBag.Title = "Your message has been succesfully sent";
}
<h2>@ViewBag.Title.</h2>
<h4>Please let us take some time to answer you.</h4>



<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a> <br />
    <strong>Phone:</strong> <a>+7(915)123-45-67</a>
</address>