@{
    ViewBag.Title = "Your message has been succesfully sent";
}
<h2>@ViewBag.Title.</h2>
<h4>Please let us take some time to answer you.</h4>



<address>
    <strong>Support:</strong>   <a href="mailto:b-beysenov@edu.hse.ru">b-beysenov@edu.hse.ru</a><br />
    <p><strong>Phone:</strong> +7(915)123-45-67</p>
</address>